<!DOCTYPE html>
<html>
<head>
<meta content = "text/html; charset-UTF-8" http-equiv="Content-Type" />
</head>
<body>
Virtual Booking Agent received a request for your login.<br/>
Your login is <%= @user.login %>.<br/>
<div id="notes">
If you have not requested your login, please inform Michael at michael@virtualpianist.com that you have received this message.  You should change your password to be safe.
</div>
</body>
</html>
