<p id="notice"><%= notice %></p>

<div id="notes" data-controller="agent">
  Welcome! This is an experimental site and currently useable by invitation only.
  If you would like to try this out as a friendly user,
  contact Michael at michael@virtualpianist.com and let me know.
</div>
