<div id="notes">
Great! As a musician, you will be able to find more venues to perform at using this web site.
<br/>
To Start looking for venues, we just need a little information about you.
  To have other venues find you, you will need to add more about yourself.
  You can do that later if you want.
    <form>
    <table><tr>
      <td><input type="text" id="email" name="email"></td>
      <td><label for="email">Email</label></td>
    </tr><tr>
      <td><input type="text" id="zip" name="zip"></td>
      <td><label for="zip">Zip Code</label></td>
    </tr>
    </table>
      <input type="submit" value="Submit">
    </form>
</div>
