<div class="form_heading">
<br/><br/>
<h1>The Problem With the Music Business</h1></div>


<div id="notes">

  The business model for most performing musicians in the classical field is problematic today.<br/>  There are many factors working against the musician.
  <ul>
    <li>Music is free.<p>Today if you want to listen to almost anything, it's available for free or at a very nominal cost, and it's available instantly!  All I have to do is say "Alexa play Beethoven's 6th Symphony" and it's there! </p></li>
    <li>Time to Market<p>In other words, it takes a long time to prepare a concert.  The time to prepare is generally not a factor in pricing a performance. An hour long performance can take as many as 80-100 hours of preparation depending on the complexity of the music and the number of musicians.  For a concert that will pay $300.00, this comes out to $3.75 an hour!  Make no mistake, the time to prepare is real time.  There is only so much of ones time that can be sacrificed.</p></li>
    <li>Budgets are small</li><p>Let's face it. Unless you have a name and are performing at a large venue, the budgets for concerts are small, generally $300.00 - $900.00, depending on the location.</p></li>
</ul>
<p>
  So to make a living, we teach. That's fine of course. If that's what you want to do. If you prefer to perform, you are out of luck.  </p>
<p>
  This is where Virtual Booking Agent comes in.  With VBA, you can compensate for the preparation time with increased volume.  Think of VBA as a tool to connect you to several venues in the area.  Once you have this connection, you can market your concert to all of them at once.  Perform 6 concerts instead of 1, your pay per hour increases from 3.75/hour to 21.00/hour.  Of course, this is very simplistic. Travel time, expenses, etc are all ignored here.  Just the concept is important for now. 
  </p>
</div>

